.App {
  padding: 50px;
}

.spinner {
  display: block !important;
  padding-top: 3% !important;
  width: 100%;
}

.card-grid {
  width: 33% !important;
  cursor: pointer;
}

#search-form {
  width: 100%;
}

.results-accordion {
  width: 100%;
}

.ant-collapse-arrow
.ant-collapse-header-text {
  vertical-align: middle;
}

.ant-divider-vertical {
  height: auto !important;
}

.canvasjs-chart-credit {
  display: none;
}